<div class="row">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
    <div>
       ながのcakeeeee
    </div>
    </div>
    <h3><%= link_to "もっと見る", items_path, class: "pull-right", style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %></h3>
</div>