

      <main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>ようこそ、 <i class="fas fa-book" ></i><strong>Comicsへ</strong>  !!</h1>
      <p>この  <i class="fas fa-book"></i><strong>Comicsは</strong>、 </p>
      <p>漫画のレビューサイトになります。</p>
      <p> 会員でない方も漫画の検索はできますが、</p>
      <p>お気に入り登録等には会員登録が必要になります。</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/customers/sign_in">ログイン</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block sign_up" href="/customers/sign_up">新規登録</a>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h3 class="recommended-items" style="font-family: HiraMinPro-W6; color: #000000;">オススメコミック</h3>

        <!-- 商品を4つ表示するようにする -->

            <div class="item--card-content">
                <% @items.last(4).each do |item| %>
                    <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px;">
                        <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
                        	 <%= image_tag item.image, size: "50x50" %>
                            <%#= attachment_image_tag item, :image_id, :fill, 180, 125, format: 'jpeg',fallback: "no_image.jpg" %><br>
                            <%= item.name %><br>
   
                        <% end %>
                    </div>
                <% end %>
            <div>
        </div>

        
    </div>
    <h3><%= link_to "もっと見る", items_path, class: "pull-right", style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %></h3>
</div>
